<!DOCTYPE html>
<html>
  <head>
    <meta chatset="utf-8">
    <title>Escribir comentario</title>
  </head>
  <body>
    <h2>Quiz Edav</h2>
    Añadir comentario: <p>
    <form method="post" action="/quizes/<%=quizid%>/comments/" >
      <input type="text" id="comment" name="comment[texto]" placeholder="Comenta aquí"/> <p>
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
