<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"><title>Créditos</title>
</head>
  <body>
    <h2>Autores de Quiz Edav</h2>
    <p>Edgar Saavedra</p>
    <p>J. David Oliva</p>
    <img src="/images/autores.jpg" class="foto">
    </body>
</html>
