<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" href="https://cdn3.iconfinder.com/data/icons/brain-games/128/Puzzle.png" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Edgar Saavedra</p>
    <p>J. David Oliva</p>
    <img src="/images/autores.jpg" width="350px" height="auto">
    <footer><a href="/">Volver</a></footer>
    <footer><a href="https://github.com/esaavedra94/quiz">Enlace a GitHub</a></footer>
  </body>
</html>
