<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <% if (session.user) { %>
      <h1>Bienvenido a <%= title %>, <%= session.user.username %> </h1>
    <% } else { %>
    <h1>Bienvenido a <%= title %> </h1>
    <% } %>
    <p>El portal donde podrá crear sus propios juegos</p>
  </body>
</html>
