<!DOCTYPE html>
<html>
  <head>
    <meta chatset="utf-8">
    <title>Mi cuenta</title>
  </head>
  <body>
    <h2>Edite información de la cuenta</h2><p>
    <form method="post" action="/user/<%= user.id %>?_method=put" >
      <% include _form.ejs %>
    </form>
    <form method="post" action="/user/<%= user.id %>?_method=delete" >
      <button type="submit" onClick="return confirm('Confirme que desea borrar la cuenta: <%= user.username %>');">
        Eliminar cuenta
      </button>
    </form>
  </body>
</html>
