<!DOCTYPE html>
<html>
  <head>
    <meta chatset="utf-8">
    <title>Registro</title>
  </head>
  <body>
    <h2>Crear usuario:</h2><p>
    <% if (admin) { %>
      <form method="post" action="/adminusers/new" >
        <% include _form.ejs %>
      </form>
    <% }
    else { %>
      <form method="post" action="/user" >
        <% include _form.ejs %>
      </form>
    <% } %>
  </body>
</html>
