<!DOCTYPE html>
<html>
  <head>
    <meta chatset="utf-8">
    <title>Registro</title>
  </head>
  <body>
    <h2>Crear usuario:</h2><p>
    <form method="post" action="/user" >
      <% include _form.ejs %>
    </form>
  </body>
</html>
