h1 {
  font-size: 1.5em;
  padding-bottom: 10px;
}

h2 {
  font-size: 1.2em;
  padding-bottom: 20px;
}

body {
  background: #333;
  font-size: x-large;
}

#page-wrapper:after {
  content: "Smartphone Layout";
}

h2 span, section h3 {
  display: none;
}

td {
  padding-bottom: 10px;
}

footer, input {
  font-size: large;
}

img.foto {
  width: 100%;
}

.quiz_img {
  float: none:
}
