* {
  margin:0;
  padding: 0;
}

body {
  font: 16px Helvetica, Arial, Georgia, serif;
}

#page-wrap {
  margin: 2% auto;
  color: white;
}

#page-wrap > .main {
  border: 1px solid #999;
  padding: 1%;
  margin-bottom: 1px;
  color: black;
  height: auto;
}

section > div {
  padding: 20px;
}

header, nav, section {
  background: #eee; text-align: center;
}

h1 {
  text-align: left;
}

footer {
  background: #eee; text-align: center;
}

footer span {
  margin: 0px 10px 0px 0px;
  width: 100%;
}

nav span {
  margin: 0px 3% 0px 0px;
  width: 100%;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

a:hover {
  color: #7F1E57;
}

img.foto {
  width: 80%;
  margin: auto;
  max-width: 600px;
}

table {
	margin: auto;
	text-align: center;
}

#ErrorMsgs {
  color: red;
  font-size: smaller;
}

.right {
  float: right;
}

.quiz_img {
  width: 50%;
  max-width: 250px;;
  /*float: left;*/
}
