<!DOCTYPE html>
<html>
  <head>
    <meta chatset="utf-8">
    <title>Quiz Edav</title>
  </head>
  <body>
    <h2>Quiz Edav</h2>

    <p>
    <%= respuesta %><p>
      <a href="/quizes/<%= quiz.id %>">Inténtelo otra vez</a><p>
      <a href="/quizes">Volver a la lista de preguntas</a>
    </p>
  </body>
  </html>
