<!DOCTYPE html>
<html>
  <head>
    <meta chatset="utf-8">
    <title>Nueva pregunta</title>
  </head>
  <body>
    <h2>Quiz Edav</h2>
    Añadir pregunta: <p>
    <form method="post" action="/quizes/create" enctype="multipart/form-data">
      <% include _form.ejs %>
    </form>
  </body>
</html>
